<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
    @(#) $Id$
    2022-06-25, Georg Fischer: copied from ramath
-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        version="3.0">
    <display-name>Seqbox</display-name>
    <description>
        Toolbox for Seqfans
    </description>

  <servlet>
    <servlet-name>SeqboxServlet</servlet-name>
    <servlet-class>seqbox.SeqboxServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>SeqboxServlet</servlet-name>
    <url-pattern>/servlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ErrorServlet</servlet-name>
    <servlet-class>seqbox.ErrorServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ErrorServlet</servlet-name>
    <url-pattern>/ErrorServlet</url-pattern>
  </servlet-mapping>

  <error-page>
    <location>/ErrorServlet</location>
  </error-page>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
  </welcome-file-list>

</web-app>
